.test{
    color: antiquewhite;
    background-color: palevioletred;
    text-align: center;
}
.pink{
    color: rgb(175, 50, 71);
}
.black{
    color: black;
}
.lightGreen{
    color: rgb(15, 189, 15);
}